@font-face {
    font-family: 'Glober';
    src: url('../fonts/glober_light.eot');
    src: url('../fonts/glober_light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glober_light.woff2') format('woff2'),
    url('../fonts/glober_light.woff') format('woff'),
    url('../fonts/glober_light.ttf') format('truetype'),
    url('../fonts/glober_light.svg#globerlight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('../fonts/glober_regular.eot');
    src: url('../fonts/glober_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glober_regular.woff2') format('woff2'),
    url('../fonts/glober_regular.woff') format('woff'),
    url('../fonts/glober_regular.ttf') format('truetype'),
    url('../fonts/glober_regular.svg#glober_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glober';
    src: url('../fonts/glober_bold.eot');
    src: url('../fonts/glober_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glober_bold.woff2') format('woff2'),
    url('../fonts/glober_bold.woff') format('woff'),
    url('../fonts/glober_bold.ttf') format('truetype'),
    url('../fonts/glober_bold.svg#globerbold') format('svg');
    font-weight: 600;
    font-style: normal;
}
