$phones: 320px;
$tablets: 768px;
$netbooks: 996px;
$notebooks: 1440px;

$bg: #ffffff;

$header-bg: #4c6269;
$subtitle-bg: #4c6269;

$text-black: #262628;
$text-white: #ffffff;

$base-font: "Roboto", sans-serif;
$secondary-font: "Roboto Cond", sans-serif;
$base-font-color: #000000;
$base-font-size: 16px;
$base-font-weight: normal;

$title-text: 36px;
$subtitle-text: 20px;
$zeit-text: 13px;
$description-text: 13px;
