$phones: 320px;
$tablets: 768px;
$netbooks: 996px;
$notebooks: 1440px;

$bg: #ffffff;
$content-bg: #ffffff;
$menu-bg: #2a292a;
$button-bg: #ffc000;
$button-hover: #2a292a;
$button-active: #18a2bd;
$main-title-bg: #18a2bd;
$border-bg: #18a2bd;
$border-hover: #ffc000;
$border-active: #2a292a;
$border-error: red;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1170px;

$text-black: #2a292a;
$text-white: #ffffff;
$text-blue: #18a2bd;

$base-font: "Glober", sans-serif;
$base-font-color: #000000;
$base-font-size: 16px;
$base-font-weight: normal;

/*Font sizes*/
$header-description: 14px;
$phone-text: 26px;
$button-text: 16px;
$nav-menu-text: 14px;
$main-title: 30px;
$secondary-title: 26px;
$intro-heading: 16px;
$intro-description: 16px;
